:root {
  --red: #fa6262;
  --blue: #cae9f2;
  --bg-gray: #fbfbfb;
  --yellow: #fffacc;
  --green: #e2efc7;
  --pink: #efc7c7;
  --font-color: #000;
  --blue-solid: #a1dbed;
  --green-solid: #d4eda1;
  --grey: #aeaeae;
  --white: #ffffff;

}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}


@font-face {
  font-family: myFont;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: myFont2;
  src: url(Inter-VariableFont.ttf);
}

body {
  font-family: myFont, Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  width: 1440px;
 
}

#flexbox> * {
  padding: 5%;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 39.6px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  width: 100%;
  gap: 5%;
}

header h1 {
  color: var(--red);
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 20%;

}
nav a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 800;
}

h2 {
  font-size: 16px;
  font-weight: 800;
  line-height: 17.6px;
}

p {
  font-size: 16px;
  font-weight: 400px;
  font-family: myFont2, Arial, Helvetica, sans-serif;
  margin: 5px;
}

.divheader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2px;
  
}

.divheader p {
  padding: 5px 10px;
}

#squares {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  gap: 20px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: calc(35% - 20px);
  background-color: var(--bg-gray);
  box-shadow: 2px 2px 2px 2px var(--grey);
  padding: 7.5%;
  position: relative;
  
}

#sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: top;
}

#sidebar p {
  display: flex;
  margin-right: 30%;
  flex-wrap: wrap;
}

#sidebar-buttons {
  margin-top: 5%;;
  display: flex;
  flex-direction: row;
  justify-content: start;
  
}

#sidebar-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 5%;
  border-radius: 10%;
}

.whitearrow {
  display: flex; 
  flex-direction: row;
  justify-content: end;
  align-items: end;
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.whitearrow img {
  background-color: var(--red);
  padding: 50%;
  border-radius: 0% 0% 50% 0%;
  height: 38px;
  
}

.whitearrow img:hover {
  background-color: yellow;
}

@media (max-width:880px) {
  header, main, .divheader, .square, .sidebar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
}





